{style}
    .owm_topic_list_format {
        cursor:pointer;
    }
{/style}

{foreach from=$topics item=topic}

    <div class="owm_forum_group_body owm_bg_color_1" data-id="{$topic.id}">
        <div class="owm_padding">
            <div class="owm_topic_list_format {if $topic.new}owm_topic_list_unread{/if} {if $topic.locked}owm_topic_list_locked{/if}" onclick="location.href='{$topic.topicUrl}'">
                <div class="owm_topic_name owm_small_margin_bottom">
                    {if $topic.sticky}
                        <span class="owm_topic_sticky_icon"></span>
                    {/if}
                    {if isset($attachments[$topic.id])}
                        <span class="owm_topic_attach_icon"></span>
                    {/if}
                    {$topic.title}
                    <div class="owm_forum_counter owm_float_right">
                        {if $topic.replyCount}{$topic.replyCount}{else}&nbsp;{/if}
                    </div>
                </div>
                <div class="owm_forum_description">
                    {text key='forum+author'}: <a href="{$authorsUrls[$topic.userId]}">{$displayNames[$topic.userId]}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="owm_forum_group_toolbar owm_border owm_bg_color_3">
        <div class="owm_padding owm_forum_additional_info owm_forum_list_unread">
            <div class="owm_forum_additional_item owm_forum_additional_views">
                {$topic.viewCount}
            </div>
            {if isset($topic.lastPost)}
                <div class="owm_forum_additional_item owm_forum_additional_date">
                    {$topic.lastPost.createStamp}
                </div>
                <span>{text key='forum+by'} <a href="{$topic.lastPost.postUrl}">{$displayNames[$topic.lastPost.userId]}</a></span>
            {/if}
        </div>
    </div>
{/foreach}